{:paths ["src"]
 
 :deps {alc.x-as-tests {:git/url "https://github.com/Saikyun/alc.x-as-tests"
                        :sha "e18c315453c65b6bf5eed040b49cf8716fd34cdf"} 
        hiccups         {:mvn/version "0.3.0"}}}
