{:paths ["src"]
 
 :deps {alc.x-as-tests {:git/url "https://github.com/Saikyun/alc.x-as-tests"
                        :sha "adb7dc3d2be164a5e289449a79f08da4f75e5a0c"}
        hiccups         {:mvn/version "0.3.0"}}}
